<% include ./header %>

    <div class="container">

      <div class="row">

        <h4>Add a Spotify Track</h4>

        <form method="POST" action="/track">

          <input type="hidden" name="user_id" value="1">
          <input type="text" name="track" id="new-track" value="" placeholder="Paste Spotify Track URI Here" required><br>
          <input type="text" name="language" id="new-language" value="" placeholder="Language" required><br>
          <textarea name="comment" id="new-comment" rows="5" cols="80" placeholder="Add comment here" required></textarea><br>
          <button class="btn btn-defualt" type="submit" name="button">Submit Track</button>

        </form>

      </div>

    </div>

  </body>

<% include ./footer %>
