<% include ./header %>
  <div class="container">

    <div class="row">

      <h4>Edit Post:</h4>

        <form method="POST" action="/my_posts/<%=posts[0].id%>/edit?_method=PATCH">
          <p><%=posts[0].title%></p>
          <p><%=posts[0].artist%></p>
          <div class="">
            <label for="comment">Comment</label><br>
            <textarea name="comment" rows="5" cols="80" id="comment"><%=posts[0].comment%></textarea>
          </div>
          <button type="submit" class="btn btn-default">Update Post</button>
        </form>

      </div>

    </div>

  </body>
  <% include ./footer %>
