<!DOCTYPE html>
<html>
  <head>
    <title>Console.Music</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css"/>
  </head>
  <body>
    <div class="navbar-fixed">

      <nav>
        <div class="nav-wrapper container">
          <a href="/library" class="brand-logo">Console.Music</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/library">Home</a></li>
            <li><a href="/track">Add Track</a></li>
            <li><a href="/my_posts">My Posts</a></li>
            <li><a href="/logout">Log Out</a></li>
          </ul>

        </div>
      </nav>

    </div>

    <ul class="side-nav" id="mobile-demo">
      <li><a href="/library">Home</a></li>
      <li><a href="/track">Add Track</a></li>
      <li><a href="/my_posts">My Posts</a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>
