<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/test"><button id="button" type="submit" name="button">Test</button></a>
  </body>
  <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
</html>
