<!DOCTYPE html>
<html>
  <head>
    <title>Console.Music</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css"/>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper container">
          <a href="/" class="brand-logo">Console.Music</a>
          <ul class="right hide-on-med-and-down">
          </ul>
        </div>
      </nav>
    </div>

    <div class="container">
      <h4>Welcome to Console.Music!</h4>
      <h5><a href="/auth/spotify">Log in with Spotify</a></h5>
    </div>

  </body>
<% include ./footer %>
