<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login Page</h1>
    <form method="POST" action="/session">
      <input type="text" name="username" id="username" value="" placeholder="Username"><br>
      <input type="text" name="password" id="password" value="" placeholder="Password"><br>
      <button type="submit" name="button">Log In</button>
    </form>
    <p>No account? Register Here:</p>
    <form method="GET" action="/register">
      <button type="submit" name="button">Register</button>
    </form>

  </body>
  <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
</html>
