<!DOCTYPE html>
<html>
  <head>
    <title>Console.Music</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css"/>
    <link rel="icon" href="http://simpleicon.com/wp-content/uploads/headphone-1.png"/>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper container">
          <a href="/" class="brand-logo">Console.Music</a>
          <ul class="right hide-on-med-and-down">
          </ul>
        </div>
      </nav>
    </div>

    <div class="container">
      <br>
      <br>
      <h1 class="header center">Welcome to Console.Music</h1>
      <div class="row center">
        <h5 class="header col s12 light">A platform where users can share and discover new music</h5>
      </div>
      <div class="row center">
        <a class="btn-large waves-effect waves-light" href="/auth/spotify">Log in with Spotify</a>
      </div>
      <br>
      <br>
      <br>
      <br>
    </div>

  </body>
<% include ./footer %>
